/*div #content {
  display: none;
}*/

div #loading {
  display: none;
  top: 200 px;
  margin: auto;
  position: center;
  z-index: 1000;
  width: 160px;
  height: 24px;
  background: url(/static/ajax-loader.gif) no-repeat;
}


body{
	background-color: #151616 
}
.body{
	position:fixed; ;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

#input{
	/*opacity: 0.10;*/
}

*::-webkit-input-placeholder {
	fomt-weight: bold;
    color: #04b8d8!important;
}

/*Custome class forked from bootstrap for input*/
.form-control{  
	  font-size: 2rem;
	  padding: 0.5rem 1rem; 
}

input{
	caret-color: #5bceff;
}


.politics{
	background-color:rgba(244, 67, 54, 0.35);
	color:#ff9800;
	border: none;
}
.memes{
	background-color:rgba(205, 220, 57, 0.35);
	color:#ffeb3b;
	border: none;

}
.lol{
	background-color:rgba(233, 30, 99, 0.35);
	color:rgb(224, 226, 225);
	border: none;
}


/*

body:#212121;

#textfiled{
	color:white;
	opacity: 15%;
}

#defaulttext{
	color:#00bcd4;
}

#politicsbutton{
	color:#f44336;
	opacity: 15%;
	text-decoration-color#ff9800: 
}
#Memesbutton{
	color:#cddc39;
	opacity: 15%;
	text-decoration-color#ffeb3b:
}
#leagueoflegendsbutton{
	color:#e91e63;
	opacity: 60%;
	text-decoration-color#e91e63:
}


*/
