body{
  background-color: #151616 
}

h1 {
  color:rgb(51, 204, 204);
  font-size: 50px;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}
h2 {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#text{
  color:white;
}

#positive{
  font-size: 20px;
  color:green;
}

#negative{
  font-size: 20px;
	color:red;
}

#neutral{
  color:#fcd735;
}

#count {
  color:#f7da02;
}

h3 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
  display:inline;
  padding: 20px;
}

#positive_percent{
  color:#0ed132;
}

#negative_percent{
  color:red;
}


#result_button {
  border-radius: 4px;
  background-color: #4bb4ed;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#dash_button {
  border-radius: 4px;
  background-color: #bb4aef;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}