#background {
	color:;
}

#textfiled{
	color:white;
	opacity: 15%;
}

#defaulttext{
	color:#00bcd4;
}

#politicsbutton{
	color:#f44336;
	opacity: 15%;
	text-decoration-color#ff9800: 
}
#Memesbutton{
	color:#cddc39;
	opacity: 15%;
	text-decoration-color#ffeb3b:
}
#leagueoflegendsbutton{
	color:#e91e63;
	opacity: 60%;
	text-decoration-color#e91e63:
}

