<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" /> 
</head>

<body>
	<form action="/index/result" method="POST">
		<button id="result_button" class="button"><span>See sentiment results</span></button>
	</form>
	<form action="/index/result_version150" method="POST">
		<button id="result_button" class="button"><span>See sentiment results2</span></button>
	</form>
	<form action="/index/dashapp">
		<button id="dash_button" class="button"><span>Take me to Dashboard</span></button>
	</form>
</body>
</html>